.body-wrapper {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do-wrapper {
  width: 100%;
  max-width: 1150px;
  padding: 3rem;
  background: blue;
}