
.body-wrapper{
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-do-wrapper{
    width: 100%;
    max-width: 1150px;
    padding: 3rem;
    background: blue;
    
    .hero-title{

        h1{  }
    }
    .buttons-wrapper{
        button{}
        #options{}
    }
    .list-wrapper{
        .list-item{}
    }
}